body {
    background-color: #797979;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 0.9rem;
}

.fp-slidesNav {
    text-align: center;
}


/******************************************************************
 * NAVBAR 
 */
.navbar {
    background-color: rgba(0, 0, 0, .6) !important;
    border: none;
    min-height: 50px;
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}


.navbar .navbar-nav li a {
    color: #FFFFFF;
}

.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover {
    color: #adadad;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
    color: #adadad;
}

/******************************************************************
 * SEKCJE
 */
 .section {
    background-size: cover;
    background-attachment: fixed;
}

#sekcja-start {
    background-image: url('../img/bg_start.jpg');
    color: #ffffff;
}

#sekcja-o-nas {
    background-image: url('../img/bg_about.jpg');
    color: #fdfdfd;
}

#sekcja-kontakt {
    background-image: url('../img/bg_contact.jpg');
    color: #fdfdfd;
}

/******************************************************************
 * FOOTER
 */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: transparent;
    text-align: center;
}

footer a {
    color: #fdfdfd;
}

footer img {
    width: 64px;
    padding: 0px 10px;
}

/******************************************************************
 * MEDIA
 */
@media only screen and (max-width: 480px) {
    .footer {
        height: 40px;
    }


    .footer img {
        width: 32px;
        padding: 0px 5px;
    }
}

.slide {
	background-size: cover;
	background-attachment: fixed;
}