body {
    background-color: #797979;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.9rem;
}

.fp-slidesNav {
    text-align: center;
}

.kolumna {
    width: 50%;
}

.kolumna-prawa {
    width: 50%; 
    float: right; 
    text-align: center;
}

.slide {
	background-size: cover;
	background-attachment: fixed;
}

.kolumna-lewa {
    width: 50%; 
    text-align: 
    center; padding: 10%
}


/******************************************************************
 * NAVBAR 
 */
.navbar {
    background-color: rgba(255, 255, 255, 1) !important;
    border: none;
    min-height: 50px;
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}

.navbar-brand {
    font-size: 1.5rem;
}

a.navbar-brand {
    color: #111111;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar .navbar-nav li a {
    color: #111111;
}

.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover {
    color: #111111;
    font-weight: bold;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
    color: #111111;
    font-weight: bold;
}

/******************************************************************
 * SEKCJE
 */
 .section {
    background-size: cover;
    background-attachment: fixed;
}

.section h1 {
    font-size: 8em;
    font-family: 'Butler';
}

#sekcja-start {
    background-image: url('../images/bg_start.jpg');
    color: #ffffff;
}

#sekcja-o-nas {
    background-image: url('../images/bg_about.jpg');
    color: #111111;
}

#sekcja-realizacje {
    /*background-image: url('../images/bg_realisation.jpg');*/
    color: #111111;
    background-color: #fff !important;
}

#sekcja-realizacje img {
    width: 100%;
}

#sekcja-uslugi {
    background-image: url('../images/bg_offer.jpg');
    color: #111111;
}

#sekcja-kontakt {
    background-image: url('../images/bg_contact.jpg');
    color: #111111;
}

/******************************************************************
 * FOOTER
 */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: transparent;
    text-align: center;
}

footer a {
    color: #fdfdfd;
}

footer img {
    width: 64px;
    padding: 0px 10px;
}

/******************************************************************
 * MEDIA
 */
@media only screen and (max-width: 720px) {
    .footer {
        height: 40px;
    }


    .footer img {
        width: 32px;
        padding: 0px 5px;
    }

    .kolumna {
        display: none;
    }

    .kolumna-prawa {
        width: 100%; 
        text-align: center;
        color: #ffffff;
    }

    .kolumna-lewa {
        width: 50%; 
        text-align: center; 
        padding: 10%;
    }

    .kolumna-prawa a {
        color: #ffffff;
        font-weight: bold;
    }
}

/******************************************************************
 * FONTY
 */

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-UltraLight.woff2') format('woff2'),
        url('fonts/Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-Medium.woff2') format('woff2'),
        url('fonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-Light.woff2') format('woff2'),
        url('fonts/Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-Black.woff2') format('woff2'),
        url('fonts/Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-Bold.woff2') format('woff2'),
        url('fonts/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler-ExtraBold.woff2') format('woff2'),
        url('fonts/Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('fonts/Butler.woff2') format('woff2'),
        url('fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}